#box {
  width: 50vw;
  height: auto;
  margin: auto;
  background-color: hsl(192, 87%, 59%);
  padding: 15px;
}

form {
  display: flex;
  justify-content: space-between;
}

input,
button {
  border: none;
  height: 2em;
  background-color: white;
}
input {
  border-bottom: 0.1px solid black;
  width: 15vw;
}

li span:nth-child(1) {
  color: rgb(8, 8, 8);
  display: block;
  font-size: 15px;
  text-transform: uppercase;
}

li span:nth-child(2) {
  color: rgb(153, 152, 152);
  font-size: 12px;
}
